* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: black;
  color: white;
}

html {
  height: -webkit-fill-available;
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: -webkit-fill-available;
}

/* Hero Section */
.hero-section-wrapper {
  background-color: black;
  max-width: 100%;
  height: 100dvh;
}

.center-nav {
  display: flex;
  justify-content: center;
}

.navigation-wrapper {
  z-index: 100;
  top: 20px;
  position: fixed;
  display: flex;
  background-color: white;
  color: black;
  width: 60%;
  height: 55px;
  border-radius: 70px;
}

.navigation-profile-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto 0;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background: url("../Assets/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-list {
  height: max-content;
  font-size: 17px;
  position: absolute;
  right: 35%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  gap: 25%;
  display: flex;
  list-style: none;
}

.navigation-list li a {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
}

/* Hero Text Section */

.hero-text-grp {
  z-index: 50;
  width: fit-content;
  height: fit-content;
  color: white;
  position: absolute;
}

.hero-text-grp::after {
  --2: red;
  --1: blue;
  --3: purple;
  --4: blue;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-image: conic-gradient(var(--1), var(--2), var(--3), var(--4));
  filter: blur(3.5rem);
  opacity: 21%;
}

.hero-text-grp h1 {
  font-size: 70px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.hero-text-grp span {
  font-size: inherit;
  color: #838fff;
  font-family: "Koulen", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero-text-grp h3 {
  font-size: 45px;
  margin-top: -50px;
}

.middle-color {
  color: #838fff;
}

.hero-text-grp p {
  font-family: "Alef", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-grp-01 button {
  margin: 20px 10px;
  border: none;
  padding: 10px;
  width: 120px;
  border-radius: 9px;
  font-weight: bold;
}

.btn-grp-01 button:first-child {
  background-color: #4254fc;
  border: 2px solid #4254fc;

  color: white;
  font-weight: bold;
}

.btn-grp-01 button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #ffb703;
  color: white;
}

.hero-middle {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-grp {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: middleColor 5s infinite linear;
}

/* @keyframes middleColor {
  0% {
    height: 500px;
    width: 100%;
  }
  25% {
    height: 300px;
  }
  50% {
    width: 70%;
    height: 100vh;
  }
  75% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100%;
    height: 500px;
  }
} */

/* Who Am I Section */

.para-1:hover,
.para-2:hover,
.para-3:hover {
  transition: 0.5s;
  z-index: 10;
}

.para-1,
.para-2,
.para-3 {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.para-1:hover,
.para-2:hover,
.para-3:hover {
  z-index: 100;
  transform: scale(1.1);
}
/* ABOUT ME SECTION */

.about-me-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.para-1,
.para-2,
.para-3 {
  width: 80%;
  height: 100px;
  text-align: center;
  background-color: #4254fc;
  padding: 20px 50px;
  margin: 7px;
  cursor: pointer;
}

.para-wrapper .title,
.middle-color {
  font-family: "Koulen", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.para-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.para-pic img {
  width: 400px;
  filter: grayscale(90%);
}

.para-pic {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 10;
  inset: -110px 0 0 0;
  margin: auto;
}

/* ABOUT ME SECTION END */
/* -------------------------------------------------------------------------------------------------- */
/* First Quote Section */
.quote p {
  text-align: center;
  cursor: pointer;
  /* box-shadow: 1px 5px 1px white; */
  text-shadow: 1px 1px 10px #4254fc;
}

.skill-section-wrapper {
  width: 100dvw;
  height: 100dvh;
}

.card-grp {
  display: flex;
  position: relative;
  top: 100px;
  margin-bottom: 160px;
  gap: 30px;
  justify-content: center;
}

.card {
  position: relative;
  text-align: center;
  justify-items: center;
  width: 30%;
  background-color: white;
  padding: 40px;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  /* transition: transform 0.5s ease-in-out; */
}

.card:hover::before,
.card:hover::after {
  background-image: none;
  /* Bug */
}

.card:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
}

.card .card-title {
  font-size: larger;
  font-family: "Koulen", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.card .card-desc {
  font-family: "Alef", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    blue,
    red,
    rgb(255, 45, 188),
    rgb(147, 0, 147),
    yellow,
    blue
  );
  /* background-image: conic-gradient(from var(--angle), 50% , rgb(32, 81, 255)); */
  width: 100%;
  height: 100%;
  /* inset: 0;
  margin: auto; */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 3px;
  z-index: -1;
  border-radius: 30px;
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 50%;
}

/* Technology Stack */
.stack-grp {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.stack-grp img {
  cursor: pointer;
  top: 40px;
  width: 60px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.stack-grp img:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 1px 1px 50px blue;
  /* filter: grayscale(80%); */
  filter: brightness(150%);
}

.design-quote {
  text-align: center;
  margin-top: -150px;
}

.project-section-wrapper {
  width: 100vw;
  position: relative;
  margin-top: 100px;
}

.project-section-header .title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.project-section-header span {
  font-size: 40px;
  color: #838fff;
}

.project-section-header .desc {
  padding: 5px;
  text-align: center;
}

.container {
  width: 100vw;
  justify-items: center;
  position: relative;
  top: 80px;
}

.flex-items {
  position: relative;
  background-color: #00052e;
  border-radius: 20px;
  padding: 50px;
  margin-top: 30px;
  display: flex;
  width: 75%;
  gap: 10px;
  justify-content: center;
}

.flex-items aside {
  margin-right: 4em;
}

.flex-items aside h4 {
  font-family: "Koulen", sans-serif;
  font-weight: 100;
  font-size: 23px;
}

.flex-items aside p {
  font-family: "Alef", sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin-top: 10px;
}

.flex-items figure {
  margin-top: 20px;
}

.flex-items figure button {
  background-color: #190fcb;
  margin-right: 10px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

/* 
 */
/* From Uiverse.io by Pradeepsaranbishnoi */
.cardBox {
  width: 250px;
  height: 300px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.cards {
  position: absolute;
  width: 97%;
  height: 97%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

.cards .h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 800;
  pointer-events: none;
  opacity: 0.5;
}

.cards .content .h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

.cards .content p {
  font-size: 14px;
  line-height: 1.4em;
}

.cards .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.cards:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.cards:hover .h4 {
  opacity: 0;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  transform-origin: center;
  animation: glowing_401 5s linear infinite;
}

@keyframes glowing_401 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Guthub Button */
/* From Uiverse.io by Philippcmd */
.button-icon {
  border-radius: 10px;
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  border-radius: 0 10px 10px 0;
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.cube span {
  font-weight: 100;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  border-radius: 0 10px 10px 0;
  position: absolute;
  height: 44px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  border-radius: 0 10px 10px 0;
  background: #222229;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  border-radius: 0 10px 10px 0;
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

.github-button {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
/*  */
