@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-text-grp h1 {
    font-size: 50px;
    top: 35px;
  }

  .hero-text-grp {
    height: 300px;
    margin-top: -300px;
  }
  .hero-text-grp h3 {
    margin-top: -30px;
    font-size: 35px;
  }
  .hero-text-grp p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .hero-text-grp h1 {
    font-size: 30px;
  }
  .hero-text-grp h3 {
    margin-top: -25px;
    font-size: 25px;
  }
  .hero-text-grp p {
    text-align: center;
    font-size: 10px;
    max-width: 350px; /* Limit width */
    margin: 0 auto;
  }
  .hero-text-grp {
    margin-top: -250px;
  }
  .btn-grp-01 button {
    width: 100px;
    font-size: 10px;
  }

  .hero-text-grp::after {
    opacity: 30%;
  }
  .hero-section-wrapper {
    height: 90%;
  }
}
