@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation-wrapper {
    height: 50px;
    border-radius: 50px;
  }

  .navigation-list {
    font-size: 14px;
  }
}

/* 2. Small Devices (Large Phones) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .navigation-wrapper {
    width: 50%;
  }
}
