@media screen and (min-width: 768px) and (max-width: 1024px) {
  .quote p {
    font-size: 16px;
    max-width: 80%;
    margin: 0 auto;
  }
  .quote {
    margin-top: -400px;
  }

  .skill-section-wrapper .card-title {
    font-size: 20px;
  }
  .skill-section-wrapper .card-desc {
    font-size: 13px;
  }

  .skill-section-wrapper .card {
    width: 40%;
  }
  .stack-grp img {
    width: 55px;
  }
  .stack-grp {
    gap: 30px;
  }
  .stack-grp-wrapper {
    max-width: 85%;
    margin: auto;
  }
  .design-quote {
    font-size: 16px;
    max-width: 75%;
    margin: 0 auto;
    margin-top: -300px;
  }
}

@media screen and (max-width: 480px) {
  .quote p {
    font-size: 16px;
    max-width: 80%;
    margin: 0 auto;
  }
  .quote {
    margin-top: -300px;
  }

  .skill-section-wrapper .card-grp {
    margin-top: 50px;
    margin-bottom: 50px;
    position: static;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; /* Centers both horizontally and vertically */
  }

  .skill-section-wrapper .card-title {
    font-size: 20px;
  }
  .skill-section-wrapper .card-desc {
    font-size: 13px;
  }

  .skill-section-wrapper .card {
    width: 70%;
  }
  .stack-grp img {
    width: 40px;
  }
  .stack-grp {
    gap: 15px;
  }
  .stack-grp-wrapper {
    max-width: 80%;
    margin: auto;
  }
  .design-quote {
    font-size: 14px;
    max-width: 75%;
    margin: 0 auto;
    margin-top: -100px;
  }
}
