.gallery-title {
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1.7rem;
}

.gallery-title .gallery-span {
  font-size: inherit;
  background: var(--theme-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gallery-header-wrapper .desc {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 0.9rem;
}

.gallery-header-wrapper {
  margin-bottom: 20%;
}

.social-icons-wrapper {
  margin-top: -1.6rem;
  margin-bottom: 5rem;
}

.social-icons {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons img {
  background-color: white;
  padding: 0.6rem;
  width: 17%;
  border-radius: 10px;
}

/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */

/* Tabs */
@media (min-width: 480px) {
  .social-icons img {
    background-color: white;
    padding: 0.6rem;
    width: 3.5rem;
    border-radius: 10px;
  }
  .social-icons-wrapper {
    margin-top: -5rem;
    margin-bottom: 7rem;
  }
}

/* other Tabs */
@media (min-width: 768px) {
  .gallery-title {
    margin-top: 8%;
    font-size: 2.6rem;
  }
  .social-icons img {
    background-color: white;
    padding: 0.6rem;
    width: 8%;
    border-radius: 10px;
  }
  .social-icons-wrapper {
    margin-top: -9rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1025px) {
  .gallery-title {
    margin-top: 8%;
    font-size: 2.9rem;
  }
  .social-icons img {
    background-color: white;
    padding: 0.6rem;
    width: 4rem;
    border-radius: 10px;
  }
  .social-icons-wrapper {
    margin-top: -15rem;
    margin-bottom: 7rem;
  }
  .blog-section-wrapper {
    margin-bottom: 10rem;
  }
}
