* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font:   font-family: "Inknut Antiqua", serif;
  --secondary-font:   font-family: "Koulen", sans-serif; 
  --paragraph-font:   font-family: "Alef", sans-serif; 
  --theme-blue: #5062ff;
  
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------NAVBAR---------------------------------------------------------------------------- */

.navigation-wrapper {
  position: fixed;
  top: -380px;
  width: 100dvw;
  height: 100%;
}

.navigation-wrapper header {
  position: absolute;
  color: black;
  display: flex;
  background-color: white;
  width: 80%;
  height: 2.9rem;
  inset: 0;
  margin: auto;
  border-radius: 30px;
}

.navigation-profile-img {
  margin: auto 0;
  margin-left: 10px;
  width: 2.3rem;
  height: 2.3rem;
  background: url("../Assets/my/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.navigation-list {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 3rem;
  bottom: 0;
  top: 0;
  margin: auto 0;
  display: flex;
  gap: 1.3rem;
  list-style: none;
}

.navigation-list li a {
  font-size: 12px;
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------NAVBAR - MEIDA QUERY-------------------------------------------------------- */

/* Tabs */
@media (min-width: 480px) {
  .navigation-list li a {
    font-size: 14px;
  }
  .navigation-list {
    gap: 2.2rem;
    right: 3.7rem;
  }
}

/* Laptops */
@media (min-width: 768px) {
  .navigation-list li a {
    font-size: 16px;
  }
  .navigation-list {
    gap: 3.2rem;
    right: 5.5rem;
  }
  .navigation-profile-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 1025px) {
  .navigation-wrapper header {
    width: 70%;
    height: 3.3rem;
  }
  .navigation-wrapper {
    top: 45px;
  }
  .navigation-list {
    gap: 4.2rem;
    right: 9.1rem;
  }
  .navigation-profile-img {
    width: 2.6rem;
    height: 2.6rem;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------HERO SECTION (mobile First)------------------------------------------------------ */

.hero-section-wrapper {
  width: 100dvw;
  width: 100vw;
  height: 90dvh;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  inset: 0;
  margin: auto;
  z-index: -1;
}

.hero-middle {
  display: flex;
  width: 100vw;
  width: 100dvw;
  justify-content: center;
  text-align: center;
}

.hero-text-grp::after {
  --2: red;
  --1: blue;
  --3: purple;
  --4: blue;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
  content: "";
  width: 100dvw;
  height: 50%;
  background-image: conic-gradient(var(--1), var(--2), var(--3), var(--4));
  filter: blur(4.5rem);
  opacity: 31%;
}

.hero-text-grp h1 {
  text-align: center;
  font-size: 7vw;
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
}

.hero-text-grp span {
  font-size: inherit;
  color: #7784ff;
  font-family: "Koulen", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero-text-grp h3 {
  font-family: "Koulen", sans-serif;
  font-weight: 500;
}

.hero-middle h3,
span {
  margin-top: -18px;
  font-size: 5.8vw;
}

.hero-middle p {
  font-size: 0.8rem;
  font-family: "Alef", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 80vw;
  margin: 5px auto;
}

/* BUtton Grp */
.btn-grp-01 {
  position: relative;
  top: 10px;
}

.btn-grp-01 button {
  border: none;
  border-radius: 10px;
  width: 20rem;
  height: 2.5rem;
  margin-top: 15px;
  font-weight: 700;
  font-family: "Alef", sans-serif;
  font-size: 0.6rem;
  cursor: pointer;
}

.btn-grp-01 button:first-child {
  background-color: #5062ff;
  color: white;
}
.btn-grp-01 button:last-child {
  border: 3px solid #5062ff;
  background-color: transparent;
  color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------HERO SECTION //TODO: Media Quey (mobile First)----------------------------------- */

/* Tabs */
@media (min-width: 480px) {
  .hero-middle h3,
  span {
  margin-top: -40px;
  font-size: 5.6vw;
  }
  .hero-middle p {
  font-size: 1rem;
  }
  .btn-grp-01 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-grp-01 button {
    width: 25rem;
  }
}

/* Laptops */
@media (min-width: 768px) {
  .hero-middle h1 {
    font-size: 6.5vw;
  }
  .hero-middle h3,
  span {
  margin-top: -50px;
  font-size: 5.3vw;
  }
  .hero-middle p {
  font-size: 1.2rem;
  }
  .btn-grp-01 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-grp-01 button {
    width: 30rem;
    height: 3rem;
    font-size: 0.9rem;
  }
  .hero-text-grp::after {
    opacity: 27%;
  }
}

@media (min-width: 1025px) {
  .hero-middle h1 {
    font-size: 4.7vw;
  }
  .hero-middle h3,
  span {
  margin-top: -50px;
  font-size: 2.4vw;
  }
  .hero-middle p {
  font-size: 1rem;
  }
  .btn-grp-01 {
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }
  .btn-grp-01 button {
    width: 10rem;
    height: 2.8rem;
    font-size: 0.8rem;
  }
  .hero-text-grp::after {
    opacity: 21%;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------ABOUT ME SECTION (mobile First)-------------------------------------------------- */

.about-me-section {
  position: relative;
  height: 100vh;
  height: 100dvh;
}

.about-me-section .para-wrapper {
  text-align: center;
}

.para-wrapper h2 {
  font-family: "Koulen", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.middle-color {
  font-size: inherit;
  color: #7784ff;
}

.para-wrapper p {
  position: relative;
  font-size: 0.8rem;
  font-family: "Alef", sans-serif;
  width: 80vw;
  margin: 15px auto;
  padding: 10px 30px;
  background-color: #3246fe;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 9;
  border-radius: 10px;
}

.para-wrapper p:hover {
  z-index: 100;
  transition: 0.5s;
  transform: scale(1.1);
  background-color: blue;
}

.about-me-section .para-pic img {
  width: 350px;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  margin: auto;
  filter: grayscale(80%);
  z-index: 10;
}